@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>jaredcooper.us</h1>
    <p class="lead">Jared Cooper is a seasoned .Net full stack developer specializing in MVC webapps and RESTful apis</p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quick view</h2>
        <p>
           Jared's experience is nicely summed up in his resume.
           Put shades on first as his future is super bright. 
        </p>
        <p><a class="btn btn-default" target="_blank" href="~/docs/JaredBCooper.doc">Get Jared's resume. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Demonstrations</h2>
        <p>See posts which demonstrate Jared's skills in various full stack challenges</p>
        <p><a class="btn btn-default" href="/demo/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p>Source Code for this website is available on GitHub. You may have to download NuGet Packages to get it to run. </p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/jcooper9099/JBCSite.Web">Go to Source &raquo;</a></p>
    </div>
</div>