@model JBCSite.Dto.UserDto
@{
    ViewBag.Title = "CreateComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resuts</h2>
<row>
    <div class="col-xs-12">

        @string.Format("User {0} Created", Model.UserName)
    </div>
</row>

